@import './modules/reset';
@import './modules/vars';

@import './modules/chatmessage';

//write some defaults here
* {
    margin: 0;
    border: none;
    padding: 0;

    box-sizing: border-box;
}

body {
    font-size: 16px;
    background-color: #125773;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%2352b3d9' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");

    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
}

.core {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    
    img {
    width: 400px;
    margin: 40px 0;
    }
}

.two_columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 800px;

}

.messages_box {
    width: 60%;
    right: 0;
    border-radius: 10px;
    border: white 2px solid;
    padding: 10px;
    margin-right: 13px;
    
}

.chat-messages {
    width: 48%;
    border-radius: 10px;
    padding: 0.5em 1em;
    background-color: #D99F7E;
    margin-bottom: 0.8em;
    float: left;
    clear: both;

    h2 {
        font-size: 15px;
        font-weight: 700;
    }
    p {
        font-size: 20px;
        font-weight: 400;
    }
}

.other-messages {
    width: 48%;
    border-radius: 10px;
    padding: 0.5em 1em;
    background-color: #5ED7F2;
    margin-bottom: 0.8em;
    float: right;
    clear: both;

    h2 {
        font-size: 15px;
        font-weight: 700;
    }
    p {
        font-size: 20px;
        font-weight: 400;
    }
}

.text_box {
    width:40%;

    textarea {
        width: 100%;
        border-radius: 10px;
    }
}

#nickname {
    width: 100%;
    height: 40px;
    padding-left: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: gray;
}

#main-headline { text-align: center; margin-bottom: 0.8em; }

label { display: block; padding-bottom: 0.5em;}

textarea { width: 90%; height: 80px; }

input[type="submit"] { 
    display: block; 
    margin-top: 1em; 
    padding: 8px 12px; 
    border-radius: 0.5em; 
    background-color: #5ED7F2;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    transition: scale 0.2s ease;
}

input:hover {scale: 110%;}

.message {
    font-family: 'Open Sans', sans-serif;
    color: gray;
    padding: 5px;
}